memo.txt
git -v  
ou
git --version
version de git

Première utilisation
---------------------------------------------------------------------------------
git config --global user.name "prenom nom"
git config --global user.email "prenom.nom@provider.fr"

Pour vérifier (  L minuscule )
git config -l
entrée pour voir les lignes suivantes
q (pour quitter)

Pour remplacer ou corriger le nom ou l'email
git config --global --replace-all user.name "nouvelle valeur"

--------------------------------------------------------------------------------------------------
Création d'un repository sur Github
ex : https://github.com/fredericleclercq/projetgit.git

git init
permet d'initialiser le projet git (repository local)

Le fichier .gitignore va permettre de lister  les fichiers/dossiers à ignorer du projet
Ils ne seront pas synchronisés